h1,
h2,
h3,
h4,
h5,
h6,
{
	color:#000;
	font-family:'Lato';
	font-weight:900;
}

a {
	color:#2ecc71;
}
a:hover {
	color:#2ecc71;
}
/* ==========================================================================
   Helper Classes
   ==========================================================================*/
small {
	color:#909090;
	font-family:'Lato';
	font-weight:400;
	font-size: 70%;
	text-transform:uppercase;
	letter-spacing:1.1px;
}

.mt {
	margin-top:40px;
}

/* ==========================================================================
   Styles
   ==========================================================================*/
#logo {
	font-size: 56px;
	letter-spacing: -3.8px;
	font-weight: 700;
}

#header-socialbox {
	color:#fff;
	font-size:20px;
}

#header-socialbox a {
	color:#fff;
	margin-right:10px;
}

section#section-home {
	position: relative;
	width: 100%;
	height: 300px;
	color: #fff;
	background: #2ecc71;
	text-align: center;
	padding: 40px 0px 40px 0px;
	overflow: hidden;
}

section#section-about {
	color:#000;
}

section#section-main {
	position:relative;
	padding:40px 0px 40px 0px;
	width:100%;
	float:left;
	overflow:hidden;
}

code {
	display: block;
	padding: 15px 20px;
	line-height: 30px;
	border-radius: 4px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(255, 255, 255, 0.15);
	background:#eee;
	overflow:auto;
}

code p {
	margin:0px;
	line-height: 21px;
}

/* ==========================================================================
   Monokai styles
   ========================================================================== */
.mk-comment {
	color:#B6B6B6;
}

.mk-attr {
	color:#2ecc71;
}

.mk-link {
	color:#FFF7A3;
}

.mk-tag {
	
}

/* ==========================================================================
   Buttons
   ========================================================================== */

 button {
 	font-family:'Lato';
 	font-size:14px;
 }

.btn-white {
	position: relative;
	min-width: 228px;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	padding: 10px;
	border-radius: 40px;
	font-size: 18px;
	margin-right: 20px;
}

.btn-white:hover {
	background:#fff;
	color:#2ecc71;
}

/* ==========================================================================
   Footer
   ========================================================================== */
#socialbox {
	color:#909090;
	font-size:20px;
}   

#socialbox a {
	margin-left:15px;
}   

footer {
	position:relative;
	width:100%;
	padding:25px 0px 25px 0px;
	float:left;
}

footer a {
	color:#909090;
}

/*Carbon ads*/
#carbonads {
	--width: 300px;
	--font-size: 14px;
  }
  
  #carbonads {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	max-width: var(--width);
	border-radius: 4px;
	text-align: center;
	box-shadow: 0 0 0 1px hsla(0, 0%, 0%, .1);
	background-color: hsl(0, 0%, 98%);
	font-size: var(--font-size);
	line-height: 1.5;
	text-align:left;
	margin: 0 auto;
    margin-bottom: 30px;
	  margin-top:100px;
  }
  
  #carbonads a {
	color: inherit;
	text-decoration: none;
  }
  #carbonads a.carbon-img {
	float: left;
	padding: 0px;
	margin: 0px;
  }

  #carbonads a:hover {
	color: inherit;
  }
  
  #carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
  }
  
  .carbon-img {
	display: block;
	margin-bottom: 8px;
	max-width: var(--width);
	line-height: 1;
  }
  
  .carbon-img img {
	display: block;
	margin: 0 auto;
	max-width: var(--width) !important;
	width: auto;
    height: 100px;
    float: left;
  }
  
  .carbon-text {
	display: block;
    padding: 0px;
    padding-left: 137px;
	padding-right: 4px;
	padding-top:10px;
    position: relative;
	font-size:13px;
  }
  
  .carbon-poweredby {
	display: block;
	padding: 10px var(--font-size);
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: 600;
	font-size: 9px;
	line-height: 0;
	color:#9a9a9a!important;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 759px) {
	#carbonads {
	  float: none;
	  margin: 0 auto;
	  max-width: 330px;
	  margin-bottom: 30px;
	}
	#carbonads span {
	  position: relative;
	}
	#carbonads > span {
	  max-width: none;
	}
	.carbon-img {
	  float: left;
	  margin: 0;
	}
  
	.carbon-img img {
	  max-width: 130px !important;
	}
	.carbon-text {
	  float: left;
	  margin-bottom: 0;
	  padding: 8px 20px;
	  text-align: left;
	  max-width: calc(100% - 130px - 3em);
	}
	.carbon-poweredby {
	  left: 130px;
	  bottom: 0;
	  display: block;
	  width: 100%;
	}
  }



