.spinner4 {
    position: fixed;
    width: 35px;
    height: 35px;
    top: calc(50% - 35px/2);
    left: calc(50% - 35px/2);
    background-color: #fff;
    animation: rotateplane 1.2s infinite ease-in-out;
}


@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}